<html>
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
        table {
        border-collapse: collapse;
        width: 100%;
        }
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        } 
    </style>
    <body>
        <h2>{{username}}'s home page</h2>
        <hr/>
        <div><b>My profile: </b>{{profile}}</div><br><br>
        {% if membership_level %}
            <p>You are a premium member! Membership Level: {{ membership_level }}</p>
            {% if membership_level == 'Gold' %}
            {% elif membership_level == 'Silver' %}
            {% elif membership_level == 'Bronze' %}
            {% endif %}
        {% else %}
          <p>You are not a premium member.</p>
        {% endif %}
        <div><b>My recipe:</b></div><br>
        <table>
            <!-- Table Header -->
            <thead>
              <tr>
                <th>Recipe Name</th>
                <th>Instructions</th>
                <th>Ingredients</th>
              </tr>
            </thead>
            <!-- Table Body -->
            <tbody>
              {% for recipe in data %}
              <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.instruction }}</td>
                <td>{{ recipe.ingredients }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table><br><br>

        <form method="POST" action="/user_new_recipe">
          <label for = "name">Recipe name</label><br>
          <input type = "text" name = "name" placeholder="name"/><br>

          <label for = "instruction">Instruction</label><br>
          <textarea name = "instruction" placeholder = "instruction"></textarea><br>

          <label for = "prep_time">Prep time</label><br>
          <input type = "number" name = "prep_time" placeholder="real number (min)"/><br>
          
          <label for = "cook_time">Cook time</label><br>
          <input type = "number" name = "cook_time" placeholder="real number (min)"/><br> 

          <label for = "serving">Serving</label><br>
          <input type = "number" name = "serving" placeholder="integer"/><br><br>

          <label for="category">Category</label>
          <select id="category" name="category_id" required>
              <option value="None">     </option>
              {% for category in categories %}
              <option value="{{ category.cid }}">{{ category.cname }}</option>
              {% endfor %}
          </select>

          <!-- Ingredients Input Fields -->
          <div id="ingredients">
            <label for="ingredient">Ingredients</label><br>
            <input type="text" name="ingredient_name[]" placeholder="Ingredient Name">
            <input type="text" name="amount[]" placeholder="Amount">
            <input type="text" name="unit[]" placeholder="Unit"><br>
          </div>
          <button type="button" onclick="addIngredient()">Add Another Ingredient</button><br><br>

          <input type="submit" value="Add"></p>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <p><a href="{{url_for('loggedin_user_all_recipes')}}">View Recipe Info</a></p>
        <p><a href="{{url_for('announcement')}}">Announcement</a></p>
        <p><a href="{{url_for('loggedin_user_saves')}}">Saved Recipes</a></p>

        <br>
        <p><a href="{{url_for('logout')}}">Logout</a></p>

        <script>
          function addIngredient() {
                var container = document.getElementById("ingredients");
                var newDiv = document.createElement("div");
                newDiv.className = "ingredient-group";
                newDiv.innerHTML = '<input type="text" name="ingredient_name[]" placeholder="Ingredient Name">'
                                 + '<input type="text" name="amount[]" placeholder="Amount">'
                                 + '<input type="text" name="unit[]" placeholder="Unit">'
                                 + '<button type="button" onclick="removeIngredient(this)">Remove</button><br>';
                container.appendChild(newDiv);
            }
          function removeIngredient(button) {
                button.parentElement.remove();
            }
        </script>
    </body>
</html>