<html>
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
        table {
        border-collapse: collapse;
        width: 100%;
        }
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        } 
    </style>
    <body>
        <h2>{{username}}'s home page</h2>
        <hr/>
        <div><b>My profile: </b>{{profile}}</div><br><br>

        <div><b>My recipe:</b></div><br>
        <table>
            <!-- Table Header -->
            <thead>
              <tr>
                <th>Recipe Name</th>
                <th>Instructions</th>
              </tr>
            </thead>
            <!-- Table Body -->
            <tbody>
              {% for recipe in data %}
              <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.instruction }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table><br><br>

        <form method="POST" action="/user_new_recipe">
          <label for = "name">Recipe name</label><br>
          <input type = "text" name = "name" placeholder="name"/><br>

          <label for = "instruction">Instruction</label><br>
          <textarea name = "instruction" placeholder = "instruction"></textarea><br>

          <label for = "prep_time">Prep time</label><br>
          <input type = "number" name = "prep_time" placeholder="real number (min)"/><br>
          
          <label for = "cook_time">Cook time</label><br>
          <input type = "number" name = "cook_time" placeholder="real number (min)"/><br> 

          <label for = "serving">Serving</label><br>
          <input type = "number" name = "serving" placeholder="integer"/><br><br>

          <input type="submit" value="Add"></p>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <p><a href="{{url_for('loggedin_user_all_recipes')}}">View Recipe Info</a></p>
        <p><a href="{{url_for('announcement')}}">Announcement</a></p>

        <br>
        <p><a href="{{url_for('logout')}}">Logout</a></p>


    </body>
</html>