<html>
    <body>

        <h3>Already have an account? Please Sign In.</h3>
        <hr/>
        <div class="msg">{{ msg }}</div><br>

        <form method="POST" action="/login">
            <label for = "username">Username</label><br>
            <input type = "text" name = "username" placeholder="username"/><br>

            <label for = "password">Password</label><br>
            <input type = "password" name = "password" placeholder="enter your password"/><br><br>
            
            <input type="submit" value="Login">
        </form>

    </body>
</html>