<head>
  <link rel="stylesheet" type="text/css" href="templates/style.css">
</head>

<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table {
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    } 
  </style>


<body>
  <h1>Recipes Info</h1>
  <p><a href="{{url_for('home')}}">Back</a></p>

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <table>
    <!-- Table Header -->
    <thead>
      <tr>
        <th>Recipe ID</th>
        <th>Name</th>
        <th>User</th>
        <th>Date</th>
        <th>Instructions</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Serving</th>
        <th>Save</th>
        <th>Review</th>
      </tr>
    </thead>
    <!-- Table Body -->
    <tbody>
      {% for recipe in data %}
      <tr>
        <td>{{ recipe.recipe_id }}</td>
        <td>{{ recipe.recipe_name }}</td>
        <td>{{ recipe.username }}</td>
        <td>{{ recipe.on_date }}</td>
        <td>{{ recipe.instruction }}</td>
        <td>{{ recipe.prep_time }}</td>
        <td>{{ recipe.cook_time }}</td>
        <td>{{ recipe.serving }}</td>
        <td>
          <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe.recipe_id) }}">
            <button type="submit">Save</button>
          </form>
        </td>

        <td>
          <form method="GET" action="{{ url_for('review_page', recipe_id=recipe.recipe_id) }}">
            <button type="submit">Review</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  


</body>


</html>