<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table {
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    } 
  </style>


<body>
  <h2>{{username}}'s Saves</h2>
  <p><a href="{{url_for('home')}}">Back</a></p>

  <table>
    <!-- Table Header -->
    <thead>
      <tr>
        <th>Recipe ID</th>
        <th>Name</th>
        <th>Save Date</th>
        <th>Instructions</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Serving</th>
      </tr>
    </thead>
    <!-- Table Body -->
    <tbody>
      {% for recipe in data %}
      <tr>
        <td>{{ recipe.recipe_id }}</td>
        <td>{{ recipe.recipe_name }}</td>
        <td>{{ recipe.on_date }}</td>
        <td>{{ recipe.instruction }}</td>
        <td>{{ recipe.prep_time }}</td>
        <td>{{ recipe.cook_time }}</td>
        <td>{{ recipe.serving }}</td>
        <td>
            <form method="POST" action="{{ url_for('delete_saved_recipe', recipe_id=recipe.recipe_id) }}">
                <button type="submit">Delete</button>
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  


</body>


</html>